<div class="window">
  <app-window-title-bar title="Welcome!" iconPath="home.png"></app-window-title-bar>
  <div class="window-body">
    <app-icon-button title="About me" iconPath="about-me.png" routerLink="/about-me"></app-icon-button>
    <app-icon-button title="Experience" iconPath="professional-experience.png"
                     routerLink="/professional-experience"></app-icon-button>
    <app-icon-button title="Education" iconPath="education.png" routerLink="/education"></app-icon-button>
    <app-icon-button title="Contact" iconPath="contact.png" routerLink="/contact"></app-icon-button>
  </div>
</div>
